.unsupported_browser {
	color: black;
}

* {
	/* vymenit za font s "S" */
	font-family: Arial;
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	/* rád bych se tomu vyhnul */
	display: flex;
	flex-direction: column;
}


header {
	height: 5rem;
	display: flex;
	flex-direction: row;
}

header h1 {
	color: black;
	display: block;
	width: auto;
}

header h1 a {
	text-decoration: none;
	color: inherit;
}

.first_line {
	display: flex;
	flex-direction: row;
}

.first_line .opakujici_most {
	flex-grow: 1;
}

.opakujici_most {
	background-image: url("images/oblouky.png");
	background-repeat: repeat-x;
	min-height: 23px;
}

.opakujici_most_naopak {
	background-image: url("images/oblouky_naopak.png");
	background-repeat: repeat-x;
	min-height: 23px;
}

.date .opakujici_most {
	width: 100%;
}

nav {
	display: flex;
	flex-direction: row-reverse;
	height: 3rem;
}

nav a {
	text-decoration: none;
	font-size: 1.5rem;
	/* mozna jde nejak delat automaticky (100% nefunguje) */
	line-height: 3rem;
	color: inherit;
	display: block;
	height: 100%;
	width: 100%;
}

nav b {
	padding: 0 1rem;
	display: block;
	height: 100%;
	text-align: center;
}

main {
	flex-grow: 1;
	background-color: #828696;
	position: relative;
}

@keyframes posun_most {
	100% {
		background-position: 362px;
	}
}

main .opakujici_most {
	width: 100%;
	animation: posun_most 10s linear infinite;
}

main .opakujici_most_naopak {
	width: 100%;
	animation: posun_most 10s linear infinite;
	animation-direction: reverse;
	position: absolute;
	bottom: 0;
}

.day {
	font-size: 3rem;
}

table,
th,
td {
	border: 1px solid black;
	border-collapse: collapse;
}

footer {
	height: 3rem;
}